span {
    color: white;
    background-color: black;
}
p {
    text-align: justify;
    font-size: 24px;
}
ul {
    background-color: orange;
    color: white;
}
h3 {
    text-align: justify;
}
.dinero {
        color:orange;
}
.derecho {
          font-size: 9px;
          text-align: center; 
}
h5 {
    text-align: center;
}
footer{
        background-color: brown;
}